# Keycloak environment variables
KC_HOSTNAME_STRICT=false
KC_HTTP_ENABLED=true
KC_PROXY=edge
KC_HOSTNAME_ADMIN_URL=https://keycloak.dev.local.dev
KC_HOSTNAME_URL=https://keycloak.dev.local.dev
KEYCLOAK_HOST=keycloak.dev.local.dev
CLUSTER_ISSUER=selfsigned-issuer