GITLAB_HOST=gitlab.dev.local.dev
CLUSTER_ISSUER=selfsigned-issuer
DB_HOST=postgres-service.postgres.svc.cluster.local
DB_PORT=5432
DB_DATABASE=gitlab
DB_USERNAME=postgres
DB_PASSWORD=postgres123
REDIS_HOST=redis-service.redis.svc.cluster.local
REDIS_PORT=6379
REDIS_PASSWORD=redis123
